pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.4.0
xgboost>=2.0.0
matplotlib>=3.8.0
joblib>=1.3.0
streamlit>=1.33.0
autogluon.tabular>=1.1.1
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
SQLAlchemy>=2.0.30
psycopg2-binary>=2.9.9
pydantic-settings>=2.4.0
